.main-title{
  text-align: center;
  margin-bottom: 0;
}

.main-area{
  display: flex;
  justify-content: space-around ;
}

p{
  font-weight: bold;
  line-height: 0.01em
}

.case{
  font-weight: bold;
}

.case-div{
  width:220px;
  margin:0 auto;
}

.errMsg{
  color:red;
  text-align: center;
}